body{

    font-family:sans-serif ;
    width: 100%;
    margin: 0;
}

.color-text{
    color: #5654A8;
    font-family: fantasy;

    
}

.banner{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: unset;
    text-align: center;
    color: #d6d3d3;

} 

.background{
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    padding: 15px;
    text-decoration: unset;
    color: #ffffff;
}


.link-banner{
    height: 100%;
    width: 100%;
    padding: 15px;
    text-decoration: unset;
    color: rgb(255, 255, 255);
}


.main-footer{
    flex-basis: 320px;
}

.fa-brands{
    cursor: pointer;
    margin: auto;
    
}

.link{
    font-family: sans-serif;
    color: #ffffff;
    text-decoration: none;

}


ul li{
    list-style: none;
    cursor: pointer;
}

.footer-word{
    cursor: pointer;
    color: #5654A8;
    font-family: fantasy;
    font-size: 25px;
    margin: 30px;
    line-height: 100%;
    margin-bottom: 30px;
    display: inline-block;
}


.home-title{
    text-align: center;
    line-height: 100%;
    font-size: 29px;
    color: #5654A8;
    font-family: fantasy;
}

.picture{
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 20%;
    max-width: 20%;

}



